*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins', sans-serif;
color:#333;
background:#fafafa;
scroll-behavior:smooth;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 60px;
background:white;
position:fixed;
width:100%;
z-index:1000;
box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.logo{
font-family:'Playfair Display', serif;
font-size:28px;
font-weight:700;
letter-spacing:2px;
color:#b76e79;
}

nav a{
margin-left:30px;
text-decoration:none;
color:#333;
font-weight:500;
transition:0.3s;
}

nav a:hover{
color:#b76e79;
}

/* HERO */

.hero{
height:100vh;
background:url("https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
position:relative;
text-align:center;
color:white;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.6));
}

.hero-content{
position:relative;
z-index:2;
max-width:700px;
padding:20px;
}

.hero-content h1{
font-family:'Playfair Display', serif;
font-size:54px;
margin-bottom:20px;
}

.hero-content p{
font-size:20px;
margin-bottom:30px;
}

.btn-primary{
background:#b76e79;
color:white;
padding:16px 35px;
border-radius:40px;
text-decoration:none;
font-weight:600;
display:inline-block;
transition:0.3s;
}

.btn-primary:hover{
background:#9c5b66;
transform:scale(1.05);
}

/* SERVICES */

.services{
padding:120px 60px;
text-align:center;
background:white;
}

.services h2{
font-family:'Playfair Display', serif;
font-size:42px;
margin-bottom:60px;
color:#b76e79;
}

.services-grid{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.service{
background:#fafafa;
padding:50px;
width:300px;
border-radius:20px;
box-shadow:0 15px 40px rgba(0,0,0,0.05);
transition:0.3s;
}

.service:hover{
transform:translateY(-10px);
}

/* GALLERY */

.gallery{
padding:120px 60px;
background:#fdf5f6;
text-align:center;
}

.gallery h2{
font-family:'Playfair Display', serif;
font-size:42px;
margin-bottom:50px;
color:#b76e79;
}

.gallery-grid{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
}

.gallery-grid img{
width:350px;
border-radius:20px;
box-shadow:0 15px 30px rgba(0,0,0,0.1);
}

/* CONTACT */

.contact{
padding:120px 60px;
text-align:center;
background:white;
}

.contact iframe{
width:100%;
height:350px;
margin-top:40px;
border-radius:20px;
border:none;
}

/* FOOTER */

footer{
background:#b76e79;
color:white;
text-align:center;
padding:25px;
}

/* RESPONSIVO */

@media(max-width:900px){

header{
flex-direction:column;
padding:20px;
}

.hero-content h1{
font-size:32px;
}

.services-grid{
flex-direction:column;
align-items:center;
}

.gallery-grid img{
width:90%;
}

}
